# Environment variables
.env

# Logs
nginx/logs/*
*.log

# Docker
.docker/
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.tar.gz

# Dependencies
node_modules/
vendor/

# Temporary files
*.tmp
*.temp
.cache/ 